<div class="row">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Cervejas</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a>{{ beer.name }} <span class="sr-only">(current)</span></a></li>
                </ul>
                <div class="nav navbar-nav navbar-right">
                    <button type="button" ng-click="deleteClick()" class="btn btn-danger navbar-btn">Excluir</button>
                    <button type="button" ng-click="editClick()" class="btn btn-primary navbar-btn">Editar</button>
                </div>
            </div>
        </div>
    </nav>
    <div class="col-md-12">
        <h1>{{ beer.name }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <p>{{ beer.description }}</p>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <img ng-src="{{ 'data:image/png;base64,' + beer.largeImage }}">
        </div>
    </div>
    <div class="col-md-4">
        <h4>Harmonização</h4>
        <p>{{ beer.pairings }}</p>

        <h4>Cor</h4>
        <p>{{ beer.color }}</p>

        <h4>Temperatura</h4>
        <p>{{ beer.temperatureMin }}-{{ beer.temperatureMax }} ºC</p>

        <h4>Teor alcoólico</h4>
        <p>{{ beer.alcoholContent * 100 }}% vol</p>

        <h4>Ingredientes</h4>
        <p>{{ beer.ingredients }}</p>
    </div>
</div>